/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-uxxclbfm version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 20px;
						
						text-align: left;
						
						max-width: 600px;
						
						padding-right: 20px;
						
						margin-top: 45px;
						
						margin-left: 0px;
						
						padding-top: 20px;
						
						margin-bottom: 45px;
						
						background-color: rgba(0, 0, 0, 0);
						
						border-color: rgb(197, 197, 197);
						
						padding-left: 20px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-divider  {
		
						margin-bottom: 15px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .inner-pic  {
		
						opacity: 0.85;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm.master.item-box   {
		
						background-color: rgb(14, 14, 14);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 50rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.2em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm #sr-basket-widget *  { 
						border-width: 1px;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						font-weight: bold;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.15em;
						
						padding-right: 20px;
						
						margin-top: 25px;
						
						padding-left: 20px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(225, 150, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .stripe-background  {
		
						opacity: 0.26;
						
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 360px;
						
						margin-bottom: 15px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-link-img  {
		
						width: 35px;
						
						margin: 5px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-body-holder  {
		
						max-width: 500px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .inner-pic-holder  {
		
						background-color: rgb(60, 57, 46);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						max-width: 600px;
						
						margin-top: 5px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1400px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-uxxclbfm .preview-body h2  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.1em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b355ab83-uxxclbfm #vbid-b355ab83-npbky7oj .preview-content-holder{
				
							text-align : center;
					
				}


 .style-b355ab83-uxxclbfm #vbid-b355ab83-ehjxddzr.inner-pic{
				
							background-position : 49.0596% 100%;
					
				} .style-b355ab83-uxxclbfm #vbid-b355ab83-y8atd9ik.inner-pic{
				
							background-size : 144%;
					
							background-position : 50% 50%;
					
				} .style-b355ab83-uxxclbfm #vbid-b355ab83-eqvycrm0.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-b355ab83-uxxclbfm #vbid-b355ab83-lrmezh7p.inner-pic{
				
							background-position : 77.8116% 48.6607%, 77.8116% 48.6607%;
					
				}











 .style-b355ab83-uxxclbfm #vbid-b355ab83-npbky7oj .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-l4waxlwe version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-b355ab83-l4waxlwe .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-b355ab83-l4waxlwe .Subtitle  ,  .master .style-b355ab83-l4waxlwe .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-b355ab83-l4waxlwe .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-b355ab83-l4waxlwe .Title  ,  .master .style-b355ab83-l4waxlwe .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-b355ab83-l4waxlwe .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-b355ab83-l4waxlwe .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	
	 .master .style-b355ab83-l4waxlwe .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-b355ab83-l4waxlwe .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-b355ab83-l4waxlwe .item-links span  {
		
						border-width: 1px;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						font-family: Arial;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	 .master .style-b355ab83-l4waxlwe .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-b355ab83-l4waxlwe .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-b355ab83-l4waxlwe.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						letter-spacing: 0.0em;
				
						font-family: "Playfair Display";
				
						line-height: 1.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						font-family: Abel;
				
						letter-spacing: 0.05em;
				
						border-width: 2px;
				
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.0em;
				
						line-height: 1.4em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.0em;
				
						line-height: 1.4em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-dscmu5ks version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks.master.item-box   {
		
						background-color: rgb(37, 41, 40);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-body h1  { font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						font-family: Arial;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-link-img  {
		
						width: 30px;
						
						margin: 7px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 600px;
						
						margin-right: 20px;
						
						margin-top: 35px;
						
						margin-left: 20px;
						
						margin-bottom: 35px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks #sr-basket-widget *  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 20px;
						
						border-color: rgba(0, 0, 0, 0);
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						padding-top: 20px;
						
						font-family: Arial;
						
						background-color: rgb(225, 150, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-element.Link.hover-tester  { 
						background-color: rgb(0, 0, 0);
						
						color: rgb(221, 221, 221);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .item-content:not(.blocks_layout)  {
		
						background-color: rgb(221, 221, 221);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-divider  {
		
						border-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-body  {
		
						font-family: Abel;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 10px;
						
						margin-left: 20px;
						
						margin-bottom: 0px;
						
						line-height: 1.4em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						padding-right: 0px;
						
						margin-top: 5px;
						
						padding-left: 0px;
						
						width: 60px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 25px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .background-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1020px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-dscmu5ks .preview-body h2  { 
						line-height: 1.2em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Quicksand;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-7jfqc04w version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w  .preview-content-holder  {
		
						margin-right: 50px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 550px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 50px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgb(230, 230, 230);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-divider  {
		
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .inner-pic  {
		
						opacity: 0.95;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .background-div  {
			
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-body h1  { 
						font-family: Rokkitt;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 0.9em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 20px;
						
						border-color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						padding-right: 25px;
						
						margin-top: 20px;
						
						padding-left: 25px;
						
						border-radius: 22px;
						
						padding-top: 20px;
						
						margin-bottom: 10px;
						
						border-width: 0px;
						
						background-color: rgb(172, 174, 113);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 110px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-link-img  {
		
						width: 38px;
						
						margin: 7px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .inner-pic-holder  {
		
						background-color: rgb(237, 237, 237);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-item-links span:before  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .effect-tester  { 
						background-color: rgb(35, 50, 57);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 15px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1400px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-7jfqc04w .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: HelveNueThinNormal;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b355ab83-7jfqc04w #vbid-b355ab83-l5zlhgxa .preview-content-holder{
				
							text-align : center;
					
				}


 .style-b355ab83-7jfqc04w #vbid-b355ab83-solc0usl.inner-pic{
				
							background-position : 11% 49.7793%;
					
				} .style-b355ab83-7jfqc04w #vbid-b355ab83-lnpywtzk.inner-pic{
				
							background-size : 25%;
					
				} .style-b355ab83-7jfqc04w #vbid-b355ab83-baampbbx.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-b355ab83-7jfqc04w #vbid-b355ab83-cvapyxjo.inner-pic{
				
							background-position : 55.8% 95.2539%;
					
				} .style-b355ab83-7jfqc04w #vbid-b355ab83-ipblvjcg.inner-pic{
				
							background-position : 11% 100%;
					
				}











 .style-b355ab83-7jfqc04w #vbid-b355ab83-l5zlhgxa .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-vgx8vbvr version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .title-holder  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .Title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 400px;
						
						padding-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 10px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-subtitle-holder  {
		
						max-width: 800px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-divider  {
		
						width: 15%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .inner-pic  {
		
						opacity: 1;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .background-div  {
			
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr.master.item-box   {
		
						background-color: rgb(221, 221, 221);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-top: 15px;
						
						margin-bottom: 5px;
						
						font-family: Montserrat;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(234, 234, 234);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 16px;
						
						padding-top: 10px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
						
						background-color: rgb(154, 154, 154);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-body  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .stripe-background  {
		
						opacity: 0.5;
						
						margin-top: -60px;
						
						margin-left: -6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						width: 40px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 25px;
						
						padding-left: 0px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .background-image-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .Subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Raleway;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-item-links span:before  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-price  {
		
						font-family: Arial;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-element.Link.hover-tester  { 
						color: rgb(239, 239, 239);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 70px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-title  {
		font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						max-width: 500px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 5px;
						
						border-color: rgb(0, 0, 0);
						
						padding-right: 15px;
						
						margin-top: 10px;
						
						padding-left: 15px;
						
						border-radius: 20px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .pic-side:after  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .item-effect-tester  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-vgx8vbvr .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






 .style-b355ab83-vgx8vbvr #vbid-b355ab83-bjifxhzo.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-b355ab83-vgx8vbvr #vbid-b355ab83-ajcpyk9a.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				} .style-b355ab83-vgx8vbvr #vbid-b355ab83-7aihvfjj.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				}



































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-8vukbql4 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4  .preview-content-holder  {
		
						margin-right: 50px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 550px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 50px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(255, 255, 255, 0);
						
						padding-left: 0px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						
						background-color: rgb(230, 230, 230);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-divider  {
		
						border-color: rgb(0, 0, 0);
						
						margin-top: 5px;
						
						width: 100%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .inner-pic  {
		
						opacity: 0.95;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .background-div  {
			
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-body h1  { 
						font-family: Rokkitt;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: -0.05em;
						
						margin-top: 10px;
						
						margin-bottom: 5px;
						
						line-height: 0.9em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.05em;
						
						padding-right: 25px;
						
						margin-top: 20px;
						
						padding-left: 25px;
						
						border-radius: 22px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						border-width: 0px;
						
						background-color: rgb(60, 57, 46);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						width: 110px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-link-img  {
		
						width: 38px;
						
						margin: 7px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .inner-pic-holder  {
		
						background-color: rgb(189, 158, 95);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-item-links span:before  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .effect-tester  { 
						background-color: rgb(35, 50, 57);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-body  {
		
						font-family: HelveNueThinNormal;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 600px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-social-holder  {
		
						margin-bottom: 15px;
						
						margin-top: 15px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1400px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-8vukbql4 .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: HelveNueThinNormal;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-b355ab83-8vukbql4 #vbid-b355ab83-akxsht8y .preview-content-holder{
				
							text-align : center;
					
				}


 .style-b355ab83-8vukbql4 #vbid-b355ab83-8uo9g8bz.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-b355ab83-8vukbql4 #vbid-b355ab83-bmpzsesm.inner-pic{
				
							background-size : 25%;
					
				} .style-b355ab83-8vukbql4 #vbid-b355ab83-d5h7nqgv.inner-pic{
				
							background-position : 11% 100%;
					
				} .style-b355ab83-8vukbql4 #vbid-b355ab83-u10bisqp.inner-pic{
				
							background-position : 55.8% 95.2539%;
					
				} .style-b355ab83-8vukbql4 #vbid-b355ab83-ouvtuulc.inner-pic{
				
							background-position : 11% 49.7793%;
					
				}











 .style-b355ab83-8vukbql4 #vbid-b355ab83-akxsht8y .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-fygztbns version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns.master.item-box   {
		
						position: absolute;
						
						background-color: rgb(221, 221, 221);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns.master.item-box   {
		
						padding-left: 3%;
						
						padding-right: 3%;
						
						width: 94%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(189, 158, 95);
						
						padding-bottom: 10px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: -0.0em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 10px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(189, 158, 95);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						margin-bottom: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-item-links.allow-bg-color  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .submenu  { 
						background-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-item-links span:before  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .effect-tester  { 
						background-color: rgb(181, 181, 181);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 10px;
						
						margin-left: 10px;
						
						margin-bottom: 10px;
						
						width: 50px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-fygztbns .preview-body h2  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(221, 221, 221);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Montserrat;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-b355ab83-xgija6gd version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 400px;
						
						margin-right: 20px;
						
						margin-top: 40px;
						
						margin-left: 20px;
						
						margin-bottom: 40px;
						
						background-color: rgba(159, 80, 80, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-divider  {
		
						margin-bottom: 10px;
						
						border-bottom-width: 3px;
						
						margin-top: 0px;
						
						border-color: rgb(225, 150, 0);
						
						width: 30%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .inner-pic  {
		
						color: rgb(0, 0, 0);
						
						opacity: 0.99;
						
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .Field  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						padding-bottom: 15px;
						
						border-color: rgb(142, 142, 142);
						
						max-width: 600px;
						
						padding-right: 10px;
						
		    			border:none;
						padding-left: 10px;
						
						padding-top: 15px;
						
						min-width: 220px;
						
						border-width: 1px;
						
						background-color: rgb(204, 204, 204);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -2%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .Field:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(204, 204, 204);
						
						background-color: rgb(255, 255, 255);
						
						color: rgb(67, 67, 67);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .multi_layout .helper-div.middle-center  {
		
						padding-left: 2%;
						
						width: 96%;
						
						padding-right: 2%;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .background-div  {
			
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-title  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-body h1  { 
						line-height: 1.0em;
						font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(189, 158, 95);
						
						letter-spacing: -0.0em;
						
						margin-top: 5px;
						
						margin-bottom: 15px;
						
						font-family: Anton;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-item-links span  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd #sr-basket-widget *  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: -0.0em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(189, 158, 95);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						
						margin-bottom: 15px;
						
						width: 90px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .Field.placeholder-mode:not(:hover)  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .Field.no-value:not(:hover)  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-form .field-holder .Field.field-dropdown:not(.placeholder-mode):not(.no-value):not(:hover)  { 
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-item-links span:before  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-body-holder  {
		
						max-width: 600px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-item-links span:hover  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(60, 57, 46);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .inner-pic-holder  {
		
						background-color: rgb(241, 231, 214);
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-body  {
		
						line-height: 1.3em;
						font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						max-width: 800px;
						
						margin-top: 5px;
						
						margin-bottom: 20px;
						
						font-family: Abel;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .field-holder  {
			
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .middle_layout .helper-div  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 500px;
							
		}
	 .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-subtitle  ,  .style-b355ab83-l4waxlwe .style-b355ab83-xgija6gd .preview-body h2  { 
						font-family: Anton;
						font-size:calc( 10px + ( 18rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: -0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.0em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



 .style-b355ab83-xgija6gd #vbid-b355ab83-zavbuevn.inner-pic{
				
							background-size : cover;
					
							background-position : 37.5653% 16.2338%, 37.5653% 16.2338%;
					
				} .style-b355ab83-xgija6gd #vbid-b355ab83-gwdc7ydk.inner-pic{
				
							background-position : 21% 24.1448%;
					
				}























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
